
html,body {
    color: #5A7D60;
    background-color: #E5FFE9;
}

a {
    color: #64A670;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}


.brand, .heading-topten, .heading-top-cols {
    border: 2px solid #3D7345;
    padding: 4px;
    border-radius: 8px;
    background-color: #C3F2C4;
}

.heading-topten, .heading-top-cols {
    margin-top: 10px;
}

.rows-top {
    border-bottom: 1.5px solid #3D7345;
}


h4 {
	margin-top: 10px;
	margin-bottom: 8px;
}

.about-content {
    border: 2px solid #3D7345;
    padding: 4px;
    border-radius: 8px;
    background-color: #C3F2C4;
}



#error_message {
	color: #FF332B;
}

.cards .holder {
	background-color: #B9E3A5;
	margin: 5px;
	padding: 0px;
    border: 2.5px solid #3D7345;
    border-radius: 4px;
}

.hid {
	visibility: hidden;
}

.box {
	padding: 4px;
}


.img-responsive {
	max-width: 100%;
	height: auto;
}


.boxed_card {
	cursor: pointer;
}

.opacity {
	opacity: 0.4;
	cursor: default;
}

.form-control {
	margin: 12px 0px 12px 0px;
	padding: 0px;
}

.form-control input {
	padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-control input:focus {
	outline: 0;
    border-color: #129FEA;
}
.form-control input[disabled] {
	cursor: not-allowed;
    background-color: #eaeded;
    color: #cad2d3;
}

.form-control .label-form {
	padding-top: 1%;
}

.form-control .label-form, .form-control .label-form label {
	margin-right: 4px;
	text-align: right;
}
.form-control .input-form, .form-control .input-form input {
	margin: 0px;
	text-align: left;
}


.btn {
	display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.btn::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.btn {
    font-family: inherit;
    font-size: 100%;
    padding: 0.5em 1em;
    color: #444; /* rgba not supported (IE 8) */
    color: rgba(0, 0, 0, 0.80); /* rgba supported */
    border: 1px solid #999;  /*IE 6/7/8*/
    border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
}
.btn:hover,
.btn:focus {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000',GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0, 0.05)), to(rgba(0,0,0, 0.10)));
    background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: -moz-linear-gradient(top, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.10));
    background-image: -o-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
}
.btn:focus {
    outline: 0;
}
.btn:active {
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
    border-color: #000\9;
}



.menu {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.menu-list,
.menu-item {
    position: relative;
}

.menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-item {
    padding: 0;
    margin: 0;
    height: 100%;
}


.menu-link,
.menu-heading {
    display: block;
    text-decoration: none;
    white-space: nowrap;
}

/* HORIZONTAL MENU */
.menu-horizontal {
    width: 100%;
    white-space: nowrap;

    border-bottom: 5px solid #82BD94;
}

.menu-horizontal .menu-list {
    display: inline-block;
}

/* Initial menus should be inline-block so that they are horizontal */
.menu-horizontal .menu-item,
.menu-horizontal .menu-heading,
.menu-horizontal .menu-separator {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}



.menu-horizontal {
    width: 100%;
    white-space: nowrap;
}

.menu-horizontal .menu-list {
    display: inline-block;
}

/* Initial menus should be inline-block so that they are horizontal */
.menu-horizontal .menu-item,
.menu-horizontal .menu-heading,
.menu-horizontal .menu-separator {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}

.menu-link {
    padding: 10px;
    color: #1B8A2E;
    background-color: #82BD94;
}

.menu-link:hover {
    background-color: #8FD18A;
    color: #a1a1a1;
    text-decoration: none;
}
.menu-link:active {
    color: #a2a2a2;
}
.menu-link:visited {
    color: #1B8A2E;
}


.bloqueadsense {
	margin-top: 20px;
}