<h4 class="brand">Welcome, <span id="playername"><%= player_name %></span>.</h4>

<div class="menu menu-horizontal">
	<ul class="menu-list">
		<li class="menu-item"><a href="/game/" class="menu-link">New game</a></li>
		<li class="menu-item"><a href="/game/highscores" class="menu-link">Highscores</a></li>
		<li class="menu-item"><a href="/game/about" class="menu-link">About</a></li>
		<li class="menu-item"><a href="/game/quit" class="menu-link">Quit</a></li>
	</ul>
</div>