<div class="row middle-xs">
	<div class="col-xs-12">

		<%= erb :_navigation, :locals => { :player_name => player_name } %> 

	</div>
</div>


<div class="row middle-xs center-xs">
	<div class="col-xs-12">
		<h4>Why Memorigularz?</h4>
	</div>
</div>

<div class="row middle-xs center-xs about-content">
	<div class="col-xs-12">
		<p>
			One of the most topics that turn being difficult to learn for those who are newbies in the English
			language, is all about stuff where you have to memorize something and specially some words that you won't 
			know its meaning if we think at long-term about it or if it changes context in real life, when it comes
			to combine all the huge list of <u>irregulars verbs</u> or <u>gerunds</u> that in the most of cases,
			these don't follow a defined pattern, turning being so in a headache for many people
			and it gonna turn sort of annoying to learn, at the same time that it will be things that they will
			get started to forget about, however, it's possible to find a new approach for those people can learn and
			like this language.
		</p>
		<p>
			That's why I've decided to make a game based mobile aplication taking advantage of the most quantity
			of followers that we could notice on this huge digital world, in which the user as a player can find pairs
			and match through images these verbs, making more intuitive and less slinky their learning process, creating 
			a path where they can interact on a competitive environment across a highscore and notification system in real-time.
		</p>
		<p>
			If you want to suggest a future or possible feature that you want to see in the game,
			please follow me at <a href="http://twitter.com/ferdroid8080" target="_blank">@ferdroid8080</a> and send me a tweet or direct message, showing your concern.
		</p>
	</div>
</div>

