
<div class="row middle-xs">
	<div class="col-xs-12">

		<%= erb :_navigation, :locals => { :player_name => player_name } %> 

	</div>
	
</div>

<div class="row center-xs">
	<div class="col-xs-12">
		<p class="messageBox"></p>
		<p class="gametime"></p> <button class="btn start-button">Start!</button>
	</div>
</div>


<div class="row center-xs">
	<div class="col-xs-12">
		<h3>Find pairs</h3>
	</div>
</div>


<div class="cards row around-xs hid">
	<% @array_cards.each do |c| %>
		<div class="holder col-xs-5 col-md-2">
			
			<div class="boxed_card" id="<%= "card_#{c[:id]}" %>">
				
				<div class="box hid" data-id="<%= "#{c[:id]}" %>">
					<img class="img-responsive" src="/assets/images/verbs/<%= c[:image] %>">
					<p class="center-xs"><b><%= "#{c[:verb]} [#{c[:past]}] [#{c[:pp]}]" %></b></p>
					<p class="start-xs">
						<% if (c[:type]==0) %>
							It's a regular verb, hence 
							this one ends by <i>ed</i>
						<% elsif (c[:type]==1) %>
							This one is an irregular verb</i>
						<% end %>
					</p>
					<p class="start-xs">
						<%= c[:gerund] %>
					</p>
				</div>

			</div>

		</div>
	<% end %>	
</div>

