
		<div class="row center-xs">

			<div class="col-xs">
				<div class="box" id="mainpage">

					<h3>Put your name before starting the game</h3>

					<img class="img-responsive" id="image_button_start" src="/assets/images/btn-start.png" width="460" style="cursor: pointer;" />
				

					<div class="row center-xs form-control">
						<div class="col-xs label-form">
							<label>Tell me your name: </label>
						</div>
						<div class="col-xs input-form">
							<input class="form-control input" type="text" autocomplete="off" name="player" placeholder="Name" />
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12">
							<span id="error_message"></span>
						</div>
					</div>
					

				</div>
			</div>

		</div>

