<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Memorigularz</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="/assets/css/normalize.css">
	<link rel="stylesheet" href="/assets/css/alertify.css">
	<link rel="stylesheet" href="/assets/css/flexboxgrid.min.css">
	<link rel="stylesheet" href="/assets/css/custom.css">
</head>
<body>

	<div class="container-fluid">
		<%= yield %>

		<div class="bloqueadsense row center-xs">
			<div class="col-xs">
				
				<!-- ads_memorigularz1a -->
				<ins class="adsbygoogle"
				     style="display:block"
				     data-ad-client="ca-pub-9157254601933518"
				     data-ad-slot="4533993970"
				     data-ad-format="auto"></ins>

			</div>
		</div>
	</div>


	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/underscore-min.js"></script>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script src="/assets/js/alertify.js"></script>
	<script src="/assets/js/main.js"></script>
	<script type="text/javascript">
		$(document).on('ready', initApp)
	</script>
	<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
</body>
</html>
